###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
*.DS_Store
*.ide
*.db
*.opendb
*.lock
*.ide-shm
*.ide-wal

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
/.vs
/UnityPackageManager
/FMDL-Studio-v2/qui0_main0_def
/FMDL-Studio-v2/sna2_main0_def (tpp)
/FMDL-Studio-v2/sna2_main0_def (gz)
/FMDL-Studio-v2/sna2_main0_def (gz)
/new entries.txt
/FMDL-Studio-v2/cdt0_main0_sta
/FMDL-Studio-v2/ddg0_main0_def
/FMDL-Studio-v2/ddg0_main0_def
/FMDL-Studio-v2/qui4_main0_def
/FMDL-Studio-v2/debug.fbx
/FMDL-Studio-v2/hrs3_main0_def
/FMDL-Studio-v2/pgn0_main0_def
/FMDL-Studio-v2/wsp0_main0_def/Assets/tpp
/FMDL-Studio-v2/sna6_main0_def/Assets/tpp/chara/sna/Pictures
/FMDL-Studio-v2/pgn0_main0_def2.fbx
/FMDL-Studio-v2/pgn0_main0_def.fmdl
/FMDL-Studio-v2/pgn0_main0_def.fbx
/FMDL-Studio-v2/qui0_main0_def.fmdl
/FMDL-Studio-v2/qui0_main0_def.fbx
/FMDL-Studio-v2/qui0_main0_def2.fbx
FMDL-Studio-v2/.vs/FMDL-Studio-v2/v15/sqlite3/storage.ide
FMDL-Studio-v2/.vs/FMDL-Studio-v2/v15/sqlite3/storage.ide